<button class=" panel-btn hamburger hamburger--emphatic " type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>

<aside class="panel">
    <nav class="menu1">
        <a href="/administracion">Administración</a>
        <a href="/edit-profile">Editar Perfil</a>
        <a href="/edit-password">Cambiar Contraseña</a>
        <a href="/img-profile">Cambiar Imagen Perfil</a>
        <a href="/log-out">Cerrar Sesión</a>
    </nav>
</aside>
